<div class="form-actions text-center col-md-12 mt-4">
    <button type="submit"  class="btn btn-raised btn-success" style="margin-left: 10px;" [routerLink]="['/film/film-form/add']">
      <i class="fa fa-plus"></i> Créer un nouveau film
    </button>
    <div class="card mt-4">

      <div class="card-header bg-light pb-1">

        <h4 style="padding: 20px;" ><i class="fa fa-list-alt"></i>Liste des films</h4>
      </div>
    <div class="card-content">
      <div class="card-body">

        
        <table class="table table-responsive-md text-center table-hover" *ngIf="!isLoading; else waitTemplate">
          <thead>

            <tr>
              <th class="bg-primary text-white text-large" style="width: 20%;">
                <h6>Title</h6>
              </th>

              <th class="bg-primary text-white text-large" style="width: 10%;">
                <h6>Realisateur</h6>
              </th>
              <th class="bg-primary text-white text-large" style="width: 45%;">
                <h6>Synopsis</h6>
              </th>
              <th class="bg-primary text-white text-large" style="width: 25%;">
                <h6>Actions</h6>
              </th>
            </tr>

          </thead>
          <tbody>
           
            <tr *ngFor="let b of films">
              <td>{{b.title}}</td> 
              <td>{{b.director}}</td>
              <td>{{b.synopsis}}</td>
              <td>
                
                <button type="button" [routerLink]="['/film/film-form/edit',b.id]"  class="btn btn-raised btn-info">
                <i class="fa fa-edit"></i> Modifier
              </button>
              <button type="button"   (click)="deleteFilm(b.id)" class="btn btn-raised btn-danger ml-2 mr-2">
                <i class="fa fa-trash"></i> Supprimer
              </button>
            
            </td>
            </tr>
    
          </tbody>
        </table>

        <ng-template #waitTemplate>
          <span style="padding-right: 1em;"><b>Chargement en cours</b></span>
          <div class="sppiner-border" role="status">
            <span class="sr-only">loading...</span>
          </div>
        </ng-template>
        </div>
        </div>
    
  </div>
