.link
{
  cursor: pointer;
}

.content-center
  {
    justify-content: center;
  }

  .navigate button :hover 
  {
  opacity:0.8 !important;
  -webkit-animation-name: linkQuake;
        -moz-animation-name: linkQuake;
            animation-name: linkQuake;
    -webkit-animation-duration: 0.8s;
        -moz-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
        -moz-transform-origin:50% 50%;
            transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
            animation-timing-function: linear;
  }