<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">UVT Firebase</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActivate="active">
          <a class="nav-link" [routerLink]="'user-profile'">
            <i class="fa fa-user"></i>
            Profile
            <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="'film'">
            <i class="fa fa-edit">
              
            </i>
            Bibliothèque
          </a>
        </li>
        
        <li class="nav-item" routerLinkActivate="active">
          <a class="nav-link " (click)="signOut()">
            <i class="fa fa-sign-out">
             
            </i>
            Déconnexion
          </a>
        </li>
        
      </ul>
     
    </div>
  </nav>
  

